/* HEADER */
header{
    padding: 20px 0;
    background-color: var(--darkgrey-color);
}

.color-grey{
    color: var(--grey-color);
}

.bg-grey{
    background-color: var(--darkgrey-color);
}

.border-white{
    border: solid 1px var(--white-color);
}

/* HERO */

.hero{
    height: 300px;
    background-color: green;
}

/* MAIN */

/* gallery */
.gallery{
    background-color: red;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.col{
    height: 90px;
    background-color: blue;
    border: solid 1px yellow;
    margin: 10px;
}

/* about */
.about{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.about article{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.about p{
    margin: 20px 0;
}

/* contact me */
.contact-me {
    height: 400px;
    background-color: yellow;
    display: flex;
    align-items: center;
}

.contact-me form{
    width: 90%;
    height: 350px;
    margin: 0 auto;
    background-color: red;
}

/* FOOTER */
