/* HEADER */
header {
    background-color: #2b3035;
}

.ms-navbar-toggler {
    outline: solid 1px var(--white-color);
}

.ms-container {
    padding: 20px 0;
    max-width: 1180px;
    margin: 0 auto;
}

.color-grey {
    color: var(--grey-color);
}

.bg-grey {
    background-color: var(--darkgrey-color);
}

.border-white {
    border: solid 1px var(--white-color);
}

/* HERO */

.hero {
    background-color: var(--green-color);
    flex-direction: column;
}

hr {
    opacity: 1 !important;
}

.bg-green-star {
    background-color: var(--green-color);
}

.bg-white-star {
    background-color: var(--white-color);
}

.avatar-img {
    width: 60%;
    max-width: 350px;
}

/* MAIN */

/* gallery */
.gallery {
    flex-direction: column;
}

/* about */
.about {
    flex-direction: column;
    background-color: var(--green-color);
}

.about article {
    flex-direction: column;
}

.about button {
    background-color: var(--green-color);
    border: solid 1px var(--white-color);
}

/* contact me */

.contact-me form {
    flex-direction: column;
}

.contact-me input:not(:last-child) {
    height: 40px;
    width: 75%;
}

.form-floating > .ms-form-control{
    height: 200px !important;
}

.name,
.surname,
.number,
.comment {
    border-bottom: solid 1px grey;
    position: relative;
}

.name input,
.surname input,
.number input,
.comment input {
    opacity: 1;
}

.name label,
.surname label,
.number label,
.comment label {
    position: absolute;
    top: 0;
}

.contact-me input:focus {
    outline: none;
}

input[type="button"] {
    background-color: var(--green-color);
}

/* FOOTER */

.info {
    flex-direction: column;
    background-color: var(--lightgrey-color);
}

.fa-social {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    border: solid 1px white;
}

.copyright {
    background-color: var(--darkgrey-color);
}