/* HEADER */
header{
    padding: 20px 0;
    background-color: var(--darkgrey-color);
}

.color-grey{
    color: var(--grey-color);
}

.bg-grey{
    background-color: var(--darkgrey-color);
}

.border-white{
    border: solid 1px var(--white-color);
}

/* HERO */

.hero{
    background-color: var(--green-color);
    flex-direction: column;
}

.avatar-img{
    width: 60%;
    max-width: 350px;
}

/* MAIN */

/* gallery */
.gallery{
    flex-direction: column;
}

/* about */
.about{
    flex-direction: column;
    background-color: var(--green-color);
}

.about article{
    flex-direction: column;
}

.about button{
    background-color: var(--green-color);
    border: solid 1px var(--white-color) ;
}

/* contact me */
.contact-me {
    /* debug */
    height: 400px;
}

.contact-me form{
    flex-direction: column;
}

.contact-me input:not(:last-child){
    height: 40px;
    width: 75%;
}

.name, .surname, .number, .comment{
    border-bottom: solid 2px black;
    position: relative;
}
.name input,
.surname input,
.number input,
.comment input {
    opacity: 0;
}

.name label,
.surname label,
.number label,
.comment label{
    position: absolute;
    top: 0;
}

.contact-me input:focus {
    outline: none;
}

input[type="button"]{
    background-color: var(--green-color);
}




/* FOOTER */

.info {
    flex-direction: column;
    /* debug */
    height: 200px;
    background-color: var(--lightgrey-color);
}

.info section{
    width: calc(100% - 20px);
}

.copyright {
    background-color: var(--darkgrey-color);
}
